In [45]:
import matplotlib.pyplot as plt
import json
import numpy as np
import pandas as pd
import seaborn as sns

In [68]:
runs = ['id52', 'id53', 'id54', 'id55']
tags = ['Epoch_reward', 'Loss_q']
labels = {
    tags[0]: ['epoch', 'reward'],
    tags[1]: ['step', 'Q-Loss']
}

In [64]:
global_data = {}
for run in runs:
    global_data[run] = {}
    for tag in tags:
        filename = 'data/run-%s-tag-%s.json' % (run, tag)
        with open(filename, 'r') as f:
            global_data[run][tag] = json.loads(f.read())

In [18]:
def get_step(run, tag):
    return [step for [time,step,value] in global_data[run][tag]]
def get_time(run, tag):
    return [time for [time,step,value] in global_data[run][tag]]
def get_value(run, tag):
    return [value for [time,step,value] in global_data[run][tag]]

def get_dict(run, tag):
    return dict([(step, value) for [time,step,value] in global_data[run][tag]])

In [65]:
# eval by tags
by_tags = {}
for tag in tags:
    by_tags[tag] = pd.DataFrame([get_dict(run, tag) for run in runs], runs).transpose()

In [69]:
for tag in tags:
    mean = by_tags[tag].mean(axis=1)
    stddev = by_tags[tag].std(axis=1)
    plt.plot(mean)
    plt.xlabel(labels[tag][0])
    plt.ylabel(labels[tag][1])
    plt.fill_between(mean.keys(), mean.values-stddev.values, mean.values+stddev.values, alpha=0.2)
    plt.savefig('plot%s.png' % tag, dpi=300)
    plt.close()

In [55]:
mean.keys()

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            140, 141, 142, 143, 144, 145, 146, 147, 148, 149],
           dtype='int64', length=149)

In [33]:
fmri = sns.load_dataset("fmri")
fmri

     subject  timepoint event    region    signal
0        s13         18  stim  parietal -0.017552
1         s5         14  stim  parietal -0.080883
2        s12         18  stim  parietal -0.081033
3        s11         18  stim  parietal -0.046134
4        s10         18  stim  parietal -0.037970
...      ...        ...   ...       ...       ...
1059      s0          8   cue   frontal  0.018165
1060     s13          7   cue   frontal -0.029130
1061     s12          7   cue   frontal -0.004939
1062     s11          7   cue   frontal -0.025367
1063      s0          0   cue  parietal -0.006899

[1064 rows x 5 columns]